* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header { 
    display: flex;
    background-color: rgb(50, 167, 145);
    justify-content: space-between;
    height: 100px;    
}

.trybewarts-login { 
    display: flex;
    align-items: center;
    
}
#tryberwarts-header-title {     
    align-self: center;
}
#evaluation-form { 
    display: flex;
    flex-direction: column;  
    border: solid red 1px;        
    width: 675px;
}
main { 
    display: flex;
}
#trybewarts-forms-logo{ 
    height: 500px;
}
#container-buttons {
    display: flex;
}
#familia { 
    display: flex;
    flex-direction: column;
    
}
